@model miniproject.Models.Login
@{
    ViewBag.Title = "Login";
}

    <center>
        <img src="~/Images/login2.png" width="200" height="200" />
    </center>
 

   



    <center>


        @using (Html.BeginForm())
        {
            <div class="form-group">

                @Html.Label("EmailId/SapId")
                @Html.TextBoxFor(c => c.UserName, new { @class = "form-control", autocomplete = "off", required = true })
                @Html.ValidationMessageFor(c => c.UserName)
            </div>
            <center>
                <div class="form-group">
                    <label>Password</label>
                    @* @Html.Label("Password")*@
                    <input type="password" name="Password" autocomplete="off" placeholder="Password" />
                    @*@Html.TextBoxFor(c => c.Password, new { @class = "form-control", autocomplete = "off", required = true })
        @Html.ValidationMessageFor(c => c.Password)*@
                </div>
            </center>
            

          



            <div class="form-group">

                <input type="submit" name="cmdsubmit" class="btn btn-outline-primary" />


            </div>
            @Html.ActionLink("BackToList", "Index", "Login")
        }

    </center>


