@model miniproject.Models.Patient

@{
    ViewBag.Title = "CreatePatientDetails";
}
<head>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#datepicker").datepicker({ minDate: 0, maxDate: "+3M +0D" });
        });
        $('option[value=ViewBag.SlotId]').prop('disabled', true);
    </script>

</head>
<body>


    <h2>Form for Patient</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <table id="booking">
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                <div class="form-group">
                    @Html.HiddenFor(m => m.DoctorId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4 mb-3">
                        @Html.HiddenFor(m => m.DoctorId, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.FullName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                        @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.EmailId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.EmailId, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                        @Html.ValidationMessageFor(model => model.EmailId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.SapId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.SapId, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                        @Html.ValidationMessageFor(model => model.SapId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Age, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Age, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                        @Html.ValidationMessageFor(model => model.Age, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.MobileNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.MobileNumber, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                        @Html.ValidationMessageFor(model => model.MobileNumber, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Date")
                    <div class="col-md-10">
                        <input type="text" id="datepicker" name="Date" autocomplete="off" placeholder="Date" class="form-control">
                    </div>
                </div>

                <div class="form-group">

                    @Html.Label("TimeSlots")
                    <div class="col-md-10">
                        @Html.DropDownListFor(model=>model.SlotId, (IEnumerable<SelectListItem>)ViewBag.SlotId, "Please select", new { @class = "form-control" })
                        @Html.ValidationMessageFor(c => c.SlotId)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" id="p" class="btn btn-outline-success " />
                    </div>
                </div>

            </div>
        </table>
        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>

    }


</body>

@section scripts{
    @Scripts.Render("~/ bundles/queryval")
    <script>

        $(document).ready(function () {
            $("#p").click(function () {
                alert("Your Booking is Confirmed");
            });
        });


    </script>
}
