@model miniproject.ViewModel.DoctorViewModel
@{
    ViewBag.Title = "locationView";
}

<h2>locationView</h2>
<div class="container">
    @using (Html.BeginForm())
    {
        <div class="form-group">
            @Html.LabelFor(c => c.City)
            @Html.DropDownListFor(c => c.Id, ViewBag.City as SelectList, new { @class = "form-control" })
         
            @Html.ValidationMessageFor(c => c.City)
          
        </div>
        <div class="form-group">
            @Html.LabelFor(c => c.Specialization)
            @Html.DropDownListFor(c => c.Specialization, ViewBag.City as SelectList, new { @class = "form-control" })
            @Html.ValidationMessageFor(c => c.Specialization)

        </div>

        <div class="form-group">

            <input type="submit" name="cmdsubmit" class="btn btn-outline-primary" />


        </div>
    }
    </div>
