@model  miniproject.ViewModel.DoctorViewModel
@{
    ViewBag.Title = "SearchDoctor";
    Layout = "~/Views/Shared/_HomeLayoutAllpages.cshtml";
}
<div style="background-image: url(/Images/14019.jpg);background-repeat:no-repeat;background-size:cover">

    <br />

    @if (Session["LogedUserFullname"] != null)
    {
        <text>
            Welcome!!! @Session["LogedUserFullname"].ToString()
        </text>
    }
    <br />
    <br />
    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
    </head>
    <body>
        <div class="container">
            @using (Html.BeginForm("SearchDoctor", "Patients", FormMethod.Post))
            {
                <div class="row">

                    <div class="form-group col-md-6">
                        <b style="color:aliceblue">@Html.Label("Location") </b>
                        @Html.DropDownList("LocationId", ViewBag.Locations as SelectList, "Please select", new { @class = "form-control", onchange = "document.forms[0].submit();" })
                    </div>

                    <div class="form-group col-md-6">

                        @if (ViewBag.Doctors != null)
                        {
                        <b style="color:aliceblue">@Html.Label("Specialization")</b>
                            @Html.DropDownList("Specialization", ViewBag.Doctors as SelectList, "Please select", new { @class = "form-control", onchange = "document.forms[0].submit();" })
                            }
</div>
                </div>

                if (Model.DoctorsList != null)
                {

                    <table class="table table-bordered table-hover">
                        <tr style="color:wheat">
                            <th>DoctorId</th>
                            <th>DoctorName</th>
                            <th>Specialization</th>
                            <th>Experience</th>
                            <th>Availabity</th>
                            <th>Hospital Name</th>
                            <th>Hospital Address</th>
                            <th>City</th>
                            <th>Booking Appointment</th>
                        </tr>
                        @foreach (var item in Model.DoctorsList)
                        {
                            <tr style="color:white">
                                <td>@item.DoctorId</td>
                                <td>@item.DoctorName</td>
                                <td>@item.Specialization</td>
                                <td>@item.Experience</td>
                                <td >@Html.DisplayFor(modelItem => item.Availability)</td>
                                <td>@item.HospitalName</td>
                                <td>@item.HospitalAddress</td>
                                <td>@item.Location.City</td>
                                <td><button>@Html.ActionLink("BookAppointment", "CreatePatientDetails", "Patients", new { DoctorId = item.DoctorId }, new { @class = "btn btn-Success" })</button></td>

                            </tr>
                        }

                    </table>
                }
            }

        </div>

    </body>
</html>
    <br />
    <br />
    <br />

    </div>
